<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<script src="https://ru.vuejs.org/js/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="static/js/multicooker.js"></script>
</head>

<body>
	<style>
	.container { 
		width: 270px; 
	}
</style> 
<div class="container">
	<br>
	<div class="row">
		<div class="panel panel-primary" id="heater">
			<div class="panel-heading" align="right">
				<button type="button" class="btn btn-default btn-xs">WiFi</button>
				<button type="button" class="btn btn-default btn-xs">PID</button>
			</div>
			<div class="panel-body">
				<div class="row" align="center">
					<div class="col-xs-6">
						<h2>
							<div v-if="isStart" >{{ timeLeft }} min</div>
							<div v-else><input v-model="timeSet" class="form-control" placeholder="Time"></div>
						</h2>      
					</div>
					<div class="col-xs-6">
						<h2>
							<div v-if="isStart" >{{ tempNow }}°C</div>
							<div v-else><input v-model="tempSet" class="form-control" placeholder="Temp"></div>
						</h2>      
					</div>
				</div>
				<div class="row" align="center">
					<div class="col-xs-6"><span class="badge">{{ timeSet }} min</span></div>
					<div class="col-xs-6"><span class="badge">{{ tempSet }}°C</span></div>
				</div>
			</div>
			<div class="panel-footer" align="center">
				<button type="button" class="btn btn-success" @click="start" v-show:class="!isStart">START</button>
          		<button type="button" class="btn btn-danger" @click="stop" v-show:class="isStart">STOP</button>
			</div>
	</div> 
</div>
</div> 
</body>